#danmaku-controls {
  flex: 1;
  width: 100%;
  display: flex;
  align-items: center;
  flex: 1;
  width: 100%;
  gap: 1rem;
  display: flex;
  align-items: center;
  padding-bottom: 1rem;
}

.danmaku-button-primary {
  background-color: rgba(0, 0, 0, 0.95);
  color: white;
  border-radius: 18px;
  border: none;
  padding: 0 1.5rem;
  display: flex;
  align-items: center;
  cursor: pointer;
  height: 32px;
  font-weight: bold;
}

.danmaku-button-primary:hover {
  background-color: rgba(0, 0, 0, 0.85);
}

.danmaku-button-primary[disabled] {
  background-color: rgba(0, 0, 0, 0.5);
  cursor: not-allowed;
}

body.dark-mode .danmaku-button-primary {
  background-color: rgba(255, 255, 255, 0.95);
  color: black;
}

body.dark-mode .danmaku-button-primary:hover {
  background-color: rgba(255, 255, 255, 0.85);
}

body.dark-mode .danmaku-button-primary[disabled] {
  background-color: rgba(255, 255, 255, 0.5);
}

.danmaku-button-secondary {
  background-color: rgba(0, 0, 0, 0.05);
  border-radius: 18px;
  border: none;
  padding: 0 1.5rem;
  display: flex;
  align-items: center;
  cursor: pointer;
  height: 32px;
  font-weight: bold;
}

.danmaku-button-secondary:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

body.dark-mode .danmaku-button-secondary {
  background-color: rgba(255, 255, 255, 0.2);
  color: white;
}

body.dark-mode .danmaku-button-secondary:hover {
  background-color: rgba(255, 255, 255, 0.3);
}

.danmaku-input-wrapper {
  display: flex;
  align-items: center;
  flex: 1;
  width: 100%;
  border-bottom: 1.5px solid rgba(0, 0, 0, 0.4);
  gap: 0.5rem;
}

.danmaku-input-wrapper:focus-within {
  border-bottom: 1.5px solid rgba(0, 0, 0, 0.8);
}

.danmaku-input-wrapper[disabled] {
  border-bottom: 1.5px solid transparent;
}

body.dark-mode .danmaku-input-wrapper {
  border-bottom: 1.5px solid rgba(255, 255, 255, 0.4);
}

body.dark-mode .danmaku-input-wrapper:focus-within {
  border-bottom: 1.5px solid rgba(255, 255, 255, 0.9);
}

body.dark-mode .danmaku-input-wrapper[disabled] {
  border-bottom: 1.5px solid transparent;
}

.danmaku-input {
  background-color: transparent;
  border: none;
  outline: none;
  flex: 1;
  height: 32px;
}

body.dark-mode .danmaku-input {
  color: white;
}

.danmaku-input[disabled] {
  background-color: transparent;
  cursor: not-allowed;
}

